.my_reset {
  min-width: 500px;
  max-width: 2500px;
  padding: 15px;
  /* background: #666;*/
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.75rem;
  line-height: 1.125rem;
  top: 10px;
}
.write_posts {
  color: green;
}
.write_posts {
  width: 400px;
}
